.ibox-row + .ibox-row {
	margin-top: 25px;
}

.slider-row {
	height: 60px !important;
}

.row-lot-included {
	margin-top: 15px;
	height: 90px !important;
}

.lot-available {
	border: solid 1px #dedede;
	margin-top: 15px;
	height: 90px !important;
}
