<h3>{{i18n "feature.currentBroadcastMessage.title"}}</h3>
<div class="alert alert-{{currentBroadcastMessageLevel}}" role="alert">
	{{currentBroadcastMessage}}
</div>
<button type="button" class="btn btn-warning">{{i18n "button.clear"}}</button>
