<div class="row function">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="input-group">
                <select name="addGlobalRuleFunction" class="form-control">
                    <option disabled="disabled" selected="selected" value="">{{i18n "label.function"}}</option>
					{{#@root.functions}}
                        <option value="{{id}}">{{i18n function}}</option>
					{{/@root.functions}}
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="input-group">
                <select name="addGlobalRuleTarget" class="form-control">
                    <option disabled="disabled" selected="selected" value="">{{i18n "label.target"}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

