<div class="generate-draft-blend">
    <form id="generate-draft-blend-form" name="generate-draft-blend-form" class="blend-optimizer-form">
        <button id="generate-draft-blend-button" type="button" class="btn btn-primary">{{i18n "button.generateDraftBlend"}}</button>
    </form>
</div>
