<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{i18n "app.description"}}">
    <meta name="author" content="{{i18n "app.author"}}">
    <title>{{i18n "app.title"}}</title>
	{{> styles}}
</head>
