<div class="lot-tools">
    <ul class="list-inline">
        <li>
            <a class="collapse-lot-link"><i class="fa {{i18n "icon.expand"}}"></i></a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa {{i18n "icon.dropdownMenu"}}"></i></a>
            <ul class="dropdown-menu dropdown-lot">
                <li><a href="#">Clear Reservations</a></li>
                <li><a href="#">View Oracle RMM</a></li>
            </ul>
        </li>
    </ul>
</div>
