<div class="lot-preferences">
	{{> "available-lots"}}
    <div class="excluded-ineligible-lots">
		{{> "excluded-lots"}}
		{{> "ineligible-lots"}}
    </div>
    <div class="generate-draft-blend-spec-summary">
		{{> "blend-spec-summary"}}
		{{> "generate-draft-blend"}}
	</div>
</div>
