{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h5 class="ibox-header">{{i18n "feature.blendSpecList.title"}}</h5>
    </div>
    <div class="ibox-content">
		{{> "blend-specs-search"}}
		{{> "blend-specs"}}
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/blendSpecList.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{{/contentFor}}
