{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-header">
            <h5>{{i18n "feature.sequenceLots.title"}}</h5>
        </div>
		{{> "ibox-tools"}}
    </div>
    <div class="ibox-content">
        <div class="ibox-details">
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/lotMaintenance.js"></script>
{{/contentFor}}
