{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h3>{{i18n "feature.lotPreferences.title"}}</h3>
    </div>
    <div class="ibox-content">
		{{> "lot-preferences"}}
    </div>
</div>


{{#contentFor "pageScripts"}}
    <script src="js/lotPreferences.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.btn-filter-material-category').click(function (e) {
                if (e) {
                    e.preventDefault();
                }

                var activeMaterialCategories = [];
                var $target = $(e.target);
                if ($target.is('.focus') && !$target.is('.active')) {
                    activeMaterialCategories.push($target.attr('data-materialcategory'));
                }

                $('#material-categories-filter').find('.btn-group > button.active').each(function (index, element) {
                    var $element = $(element);
                    if ($element.is('.active') && !$element.is('.focus')) {
                        activeMaterialCategories.push($element.attr('data-materialcategory'));
                    }
                });

                if (activeMaterialCategories.length) {
                    var filter = "." + activeMaterialCategories.join(',.');
                    $('#availableLots').children('li').hide().filter(filter).show();
                } else {
                    $('#availableLots').children('li').show()
                }

            });

        });
    </script>
{{/contentFor}}
