{{#contentFor "pageHeader"}}
    <div class="page-header">
        <div class="container-fluid">
            <h3>{{i18n "area.oracleDepartmentAttributes.title"}}</h3>
        </div>
    </div>
{{/contentFor}}

<div class="row margin-bottom-20">

</div>

{{#contentFor "pageScripts"}}
    <script src="js/oracleDepartmentAttributes.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{{/contentFor}}
