{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h3>{{i18n "feature.oracleDepartmentAttributes.title"}}</h3>
    </div>
    <div class="ibox-content">
		{{> "oracleDepartmentAttributes"}}
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/oracleDepartmentAttributes.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{{/contentFor}}
