.col-sm-2 {
	.form-group {
		.input-group {
			.form-control, .chosen-select {
				width: 75px;
			}
		}
	}
}

.col-sm-3 {
	.form-group {
		.input-group {
			.form-control, .chosen-select {
				width: 156px;
			}
		}
	}
}

.col-sm-4 {
	.form-group {
		.input-group {
			.form-control, .chosen-select {
				width: 237px;
			}
		}
	}
}

.col-sm-5 {
	.form-group {
		.input-group {
			.form-control, .chosen-select {
				width: 399px;
			}
		}
	}
	.form-group-4 {
		.form-group {
			.input-group {
				.form-control, .chosen-select {
					width: 75px;
				}
			}
		}
	}
}

.col-sm-6 {
	.form-group {
		.input-group {
			.form-control, .chosen-select {
				width: 480px;
			}
		}
	}
}

.col-sm-8 {
	.form-group {
		.input-group {
			.form-control, .chosen-select {
				width: 642px;
			}
		}
	}
}

.form-group-4 {
	> .form-group {
		display: inline-block;
	}
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-negative-60 {
	margin-top: -60px;
}

.margin-left-60 {
	margin-left: 60px;
}

.header-container {
	> h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		display: inline-block;
		margin-right: 15px;
	}
}

.blend-weight {
	font-style: italic;
}

.hidden {
	display: none;
}

.btn-data-toggle-material-category {
	> i {
		display: none;
	}

	&.active {
		> i {
			display: inline;
		}
	}
}

th {
	> .radio, .checkbox {
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

td {
	> .radio, .checkbox {
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

li {
	> .radio, .checkbox {
		display: inline-block;
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

.radar-chart-legend {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;

	&.radar-chart-default {
		background-color: $gray-bg;
	}

	&.radar-chart-primary {
		background-color: $brand-primary;
	}

	&.radar-chart-success {
		background-color: $brand-success;
	}

	&.radar-chart-info {
		background-color: $brand-info;
	}

	&.radar-chart-warning {
		background-color: $brand-warning;
	}

	&.radar-chart-danger {
		background-color: $brand-danger;
	}
}

.js-switch-label {
	margin: 0 5px;

	&.checked {
		font-weight: bold;
	}
}

.lot-panel-footer {
	padding: 0 10px;
	padding-left: 17px;

	> .lot-panel-content {
		position: relative;
		margin: 0;
		padding: 0;
		height: $line-height-computed * 5;

		> .lot-header {
			position: absolute;
			top: 10px;
			left: 35px;
		}

		> .lot-usage {
			position: absolute;
			top: 0;
			left: 310px;
			width: 376px;
			min-width: 376px;
		}
	}
}

.row-header {
}

.row-striped {
	> .row:nth-of-type(odd) {
		background-color: $table-bg-accent;
	}
}

.row-footer {
}

.row-master-rule {
	margin: 5px 0;
	padding: 10px;
	border: solid 1px $ibox-default-border;

	.sortable-chosen {
		cursor: move;
	}

	.sortable-ghost {
		opacity: 0.3;
		border: 1px dashed $lot-list-group-item-border !important;
		border-radius: $lot-list-group-item-border-radius;
		visibility: visible !important;
		background: $gray-bg;
	}
}

.colorpicker.colorpicker-visible {
	z-index: 1099;
}

/* Rule list */

.rule-item {
	padding: 20px 25px;
	background: #ffffff;
	border-top: 1px solid $ibox-default-border;
	border-bottom: 1px solid $ibox-default-border;
}

.rule-actions {
	float: left;
	width: 30px;
	margin-right: 15px;
	text-align: center;

}

.rule-actions a {
	color: $link-color;
	font-weight: 600;
}

.rule-actions {
	font-weight: 600;
}

.rule-title {
	display: block;
	color: inherit;
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 2px;
}

.rule-title:hover, .rule-title:focus {
	color: inherit;
}

.rule-title, .rule-info {
	margin-left: 45px;
}

.rule-info {
	font-size: 16px;
}
