.form-group-4 {
	> .form-group {
		display: inline-block;
	}
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-negative-60 {
	margin-top: -60px;
}

.margin-left-60 {
	margin-left: 60px;
}

.margin-left-15 {
	margin-left: 15px;
}

.header-container {
	> h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		display: inline-block;
		margin-right: 15px;
	}
}

.blend-weight {
	font-style: italic;
}

.hidden {
	display: none;
}

.btn-filter-material-category {
	> .fa {
		display: none;
	}

	&.active {
		> .fa {
			display: inline;
		}
	}
}

th {
	> .radio, .checkbox {
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

td {
	> .radio, .checkbox {
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

li {
	> .radio, .checkbox {
		display: inline-block;
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

.radar-chart-legend {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;

	&.radar-chart-default {
		background-color: $gray-bg;
	}

	&.radar-chart-primary {
		background-color: $brand-primary;
	}

	&.radar-chart-success {
		background-color: $brand-success;
	}

	&.radar-chart-info {
		background-color: $brand-info;
	}

	&.radar-chart-warning {
		background-color: $brand-warning;
	}

	&.radar-chart-danger {
		background-color: $brand-danger;
	}
}

.js-switch-label {
	margin: 0 5px;

	&.checked {
		font-weight: bold;
	}
}

.lot-panel-footer {
	padding: 0 10px;
	padding-left: 17px;

	> .lot-panel-content {
		position: relative;
		margin: 0;
		padding: 0;
		height: $line-height-computed * 5;

		> .lot-header {
			position: absolute;
			top: 10px;
			left: 35px;
		}

		> .lot-usage {
			position: absolute;
			top: 0;
			left: 310px;
			width: 376px;
			min-width: 376px;
		}
	}
}

.row-header {
}

.row-striped {
	> .row:nth-of-type(odd) {
		background-color: $table-bg-accent;
	}
}

.row-footer {
}

.row-master-rule {
	margin: 5px 0;
	padding: 10px;
	border: solid 1px $ibox-default-border;

	.sortable-chosen {
		cursor: move;
	}

	.sortable-ghost {
		opacity: 0.3;

		visibility: visible !important;
		background: $gray-bg;
	}
}

.colorpicker.colorpicker-visible {
	z-index: 1099;
}

.assigned-plant-group {
	> li {
		margin: 10px 0;
	}
}

.assigned-plant-item {
	cursor: pointer;

	.fa-plus {
		display: none;
	}
	.fa-minus {
		display: inline;
	}
	&.active {
		.fa-plus {
			display: inline;
		}
		.fa-minus {
			display: none;
		}
	}
}

.table-nested {
	> tbody {
		> tr {
			> th {
				> a {
					color: $gray-dark;

					&:hover {
						color: $gray-dark;
					}
					&:visited {
						color: $gray-dark;
					}
				}
			}
		}
	}
}

.modal-dialog {
	overflow-y: initial !important
}

.modal-body {
	max-height: 500px;
	overflow-x: auto;
}

.sku-list-group {
	> li {
		margin: 10px 0;
	}

	.sortable-chosen {
		cursor: move;
	}

	.sortable-ghost {
		opacity: 0.3;

		visibility: visible !important;

	}
}

.predicate-group {
	padding: 10px;
	border: 1px solid $ibox-inner-border !important;
	background-color: $gray-bg !important;
}

.predicate {

}

.bar-chart-legend {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;

	&.bar-chart-default {
		background-color: $gray-bg;
	}

	&.bar-chart-primary {
		background-color: $brand-primary;
	}

	&.bar-chart-success {
		background-color: $brand-success;
	}

	&.bar-chart-info {
		background-color: $brand-info;
	}

	&.bar-chart-warning {
		background-color: $brand-warning;
	}

	&.bar-chart-danger {
		background-color: $brand-danger;
	}
}
.doughnut-chart-legend {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;

	&.doughnut-chart-default {
		background-color: $gray-bg;
	}

	&.doughnut-chart-hcm {
		background-color: $brand-color;
	}

	&.doughnut-chart-lcm {
		background-color: $brand-virgin;
	}
}

.lot-preferences {
	@include make-row;

	.included-lots {
		@include make-sm-column(8);
	}

	.available-lots {
		@include make-sm-column(4);
	}

	.excluded-ineligible-lots {
		@include make-sm-column(4);
	}

	.generate-draft-blend-spec-summary {
		@include make-sm-column(4);
	}
}

.maintain-lots {
	@include make-row;

	.available-lots {
		@include make-sm-column(4);
	}

	.ineligible-lots {
		@include make-sm-column(4);
	}

	.prioritized-lots {
		@include make-sm-column(4);
	}
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

ul.sortable {
	min-height: ($line-height-computed * 4);
	max-height: ($line-height-computed * 20);
	overflow-y: scroll;
}

.sortable-empty {
	float: left;
	height: ($line-height-computed * 4);
	z-index: -1000;
}

.width-col-sm-1 {
	width: 80px !important;
}

.width-col-sm-2 {
	width: 140px !important;
}

.width-col-sm-4 {
	width: 280px !important;
}

.width-col-sm-6 {
	width: 450px !important;
}

.width-col-sm-8 {
	width: 600px !important;
}

.doughnut-kpi {
	> #reservedDoughnutChart, #actualDoughnutChart, #targetDoughnutChart {
		margin: auto;
		display: block;
	}
}
