.blend-optimizer-form .form-control,
.blend-optimizer-form .chosen-select {
	width: 270px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.header-container {
	> h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		display: inline-block;
		margin-right: 15px;
	}
}

.blend-weight {
	font-style: italic;
}

.hidden {
	display: none;
}

.btn-data-toggle-material-category {
	> i {
		display: none;
	}

	&.active {
		> i {
			display: inline;
		}
	}
}

th {
	> .radio, .checkbox {
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

td {
	> .radio, .checkbox {
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		> label {
			padding-left: 0;
		}
	}
}

.radar-chart-legend {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;

	&.radar-chart-current {
		background-color: $brand-primary;
	}

	&.radar-chart-previous {
		background-color: $brand-warning;
	}

	&.radar-chart-low {
		background-color: $gray-bg;
	}

	&.radar-chart-high {
		background-color: $brand-danger;
	}
}
