//
// Lot List groups
// --------------------------------------------------

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.lot-list-group {
	// No need to set list-style: none; since .lot-list-group-item is block level
	margin-bottom: (($line-height-computed / 2) - 1);
	padding: $lot-list-group-padding;
	min-height: ($line-height-computed * 8);

	&:empty {
		content: 'drag and drop lots here';

		&:after {
			content: "drag and drop lots here";
		}
	}

	.sortable-chosen {
		cursor: move;
	}

	.sortable-ghost {
		opacity: 0.3;
		border: 1px dashed $lot-list-group-item-border !important;
		border-radius: $lot-list-group-item-border-radius;
		visibility: visible !important;
		background: $gray-bg;
	}
}

// Individual list items
//
// Use on `li`s or `div`s within the `.lot-list-group` parent.

.lot-list-group-item {
	position: relative;
	display: block;
	margin: $lot-list-group-item-margin;
	padding: 0;
	background-color: $lot-list-group-bg;
}
