//
// Lot Panels
// --------------------------------------------------

// Base class
.lot-panel {
	margin-bottom: $line-height-computed;
	background-color: $lot-panel-bg;
	border: solid 1px $lot-panel-default-border;
	border-radius: $lot-panel-border-radius;
	@include box-shadow(0 1px 1px rgba(0, 0, 0, .05));
}

// Lot Panel contents
.lot-panel-body {
	padding: $lot-panel-body-padding;
	@include clearfix;
}

// Optional heading
.lot-panel-heading {
	padding: $lot-panel-heading-padding;
	border-bottom: 1px solid transparent;
	@include border-top-radius(($lot-panel-border-radius - 1));

	> .dropdown .dropdown-toggle {
		color: inherit;
	}
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.lot-panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: ceil(($font-size-base * 1.125));
	color: inherit;

	> a,
	> small,
	> .small,
	> small > a,
	> .small > a {
		color: inherit;
	}
}

// Lot List groups in lot panels
//
// By default, space out lot list group content from panel headings to account for
// any kind of custom content between the two.
.lot-panel {
	> .lot-list-group {
		margin-bottom: 0;

		.lot-list-group-item {
			border-width: 1px 0;
			border-radius: 0;
		}

		// Add border top radius for first one
		&:first-child {
			.lot-list-group-item:first-child {
				border-top: 0;
				@include border-top-radius(($panel-border-radius - 1));
			}
		}

		// Add border bottom radius for last one
		&:last-child {
			.lot-list-group-item:last-child {
				border-bottom: 0;
				@include border-bottom-radius(($panel-border-radius - 1));
			}
		}
	}

	> .lot-panel-heading + .lot-panel-collapse > .lot-list-group {
		.lot-list-group-item:first-child {
			@include border-top-radius(0);
		}
	}
}

// Collapse space between when there's no additional content.
.lot-panel-heading + .lot-list-group {
	.lot-list-group-item:first-child {
		border-top-width: 0;
	}
}
