.lot {
	display: table;
	width: 100%;
	background-color: $lot-bg;
	border-top: 1px solid $lot-border;
	border-right: 1px solid $lot-border;
	border-bottom: 1px solid $lot-border;
	border-left: 1px solid $lot-border;
	border-radius: $lot-border-radius;

	> .lot-indicator {
		display: table-cell;
		width: 7px;
		background-color: $brand-primary;

		&.warning {
			background-color: $brand-warning;
		}
		&.danger {
			background-color: $brand-danger;
		}
	}

	> .lot-badge {
		display: table-cell;
		vertical-align: top;
		width: 35px;
		padding: 5px;
	}

	> .lot-content {
		display: table-cell;
		vertical-align: top;
		padding: 5px;

		.lot-header {
			display: table-cell;
			vertical-align: top;
			width: 220px;
		}

		.lot-usage {
			display: table-cell;
			vertical-align: top;
			width: 340px;

			> .slider-value-lower {
				float: left;

				input.slider-snap-value-control {
					margin-left: 10px;
					width: 60px !important;
					display: inline-block;
				}
			}

			> .slider-value-upper {
				float: right;

				input.slider-snap-value-control {
					margin-left: 10px;
					width: 60px !important;
					display: inline-block;
				}
			}

			> .included-lot-slider {
				margin-top: 60px;
			}
		}
	}

	> .lot-menu {
		display: table-cell;
		vertical-align: top;
		width: 30px;

		> ul {
			margin-top: 5px;
			margin-right: 5px;

			> li {
				padding: 0;

				> a {
					color: $gray-dark;

					&:hover {
						color: $gray-dark;
					}
					&:visited {
						color: $gray-dark;
					}
				}
			}
		}

		@media (min-width: 768px) {
			.dropdown-menu {
				right: 0;
				left: auto;
			}
		}
	}
}

.lot-title {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 3px;
	text-overflow: clip;

	&.lot-sku {
		font-weight: bold;
	}

	&.lot-number {
	}

	&.lot-category {
	}

	&.lot-size {
		font-style: italic;
	}

	&.lot-density {
	}

	&.lot-melt {
	}

	&.lot-izod {
	}

	&.lot-ncls {
	}

	&.lot-supplier {
	}

	&.lot-comments {
	}

	&.lot-price {
	}

	&.lot-age {
	}

	&.lot-pounds-used {
		margin-left: 200px;
	}

	&.lot-percent-used {
		margin-left: 200px;
	}
}

.lot-prioritized {
	color: $lot-info-text;
	background-color: $lot-info-bg;
	border-color: $lot-info-border;
}

.lot-body > .lot-usage {
	height: 140px;
}
