.material-category {
	width: 770px;
	min-width: 770px;
	background-color: $material-category-bg;

	border-top: solid 1px $material-category-default-border;
	border-right: solid 1px $material-category-default-border;
	border-left: solid 1px $material-category-default-border;
	border-bottom: none 0;
	border-radius: $material-category-border-radius;

	.material-category-content {
		position: relative;
		margin: 0;
		padding: 0;
		height: $line-height-computed * 8;

		border-top: solid 1px $material-category-inner-border;
		border-right: none 0;
		border-left: none 0;
		border-bottom: solid 1px $material-category-inner-border;
		border-radius: $material-category-border-radius;

		.material-category-label {
			position: absolute;
			top: 10px;
			left: 10px;
		}
		.material-category-details {
			position: absolute;
			top: 10px;
			left: 45px;
			width: 198px;
			min-width: 198px;
			margin-left: 0;

			.material-category-name {
				font-weight: bold;
				margin-right: 3px;
			}
		}

		.material-category-usage {
			position: absolute;
			top: 10px;
			left: 310px;
			width: 376px;
			min-width: 376px;

			> .slider-value-lower {
				float: left;

				input.slider-snap-value-control {
					margin-left: 10px;
					width: 60px !important;
					display: inline-block;
				}
			}

			> .slider-value-upper {
				float: right;

				input.slider-snap-value-control {
					margin-left: 10px;
					width: 60px !important;
					display: inline-block;
				}
			}

			> .material-category-slider {
				margin-top: 60px;
			}
		}
	}

	&.border-bottom {
		border-bottom: solid 1px $material-category-default-border;
	}
}
