.material-category {
	background-color: $material-category-bg;

	border-top: solid 1px $material-category-default-border;
	border-right: solid 1px $material-category-default-border;
	border-left: solid 1px $material-category-default-border;
	border-bottom: solid 1px $material-category-default-border;
	border-radius: $material-category-border-radius;

	.material-category-content {
		display: table;
		margin-top: 10px;
		margin-left: 10px;
		padding: 0;

		.material-category-label {
			display: table-cell;
			vertical-align: top;
			width: 35px;
		}

		.material-category-details {
			display: table-cell;
			vertical-align: top;
			width: 140px;

			.material-category-name {
				font-weight: bold;
				margin-right: 3px;
			}
		}

		.material-category-usage {
			display: table-cell;
			width: 400px;
			height: 140px;

			> .slider-value-lower {
				float: left;

				input.slider-snap-value-control {
					margin-left: 10px;
					width: 60px !important;
					display: inline-block;
				}
			}

			> .slider-value-upper {
				float: right;

				input.slider-snap-value-control {
					margin-left: 10px;
					width: 60px !important;
					display: inline-block;
				}
			}

			> .material-category-slider {
				margin-top: 60px;
			}
		}
	}
}
