<!--
[draftBlend.mustache.html]
-->
<script id="draftBlendTemplate" type="text/html">
    <div class="row">
        <div class="col-xs-12">
            <div class="border-bottom white-bg page-heading">
                <h2>{{title}}</h2>
                <ol class="breadcrumb">
					{{#breadCrumbs}}
                        <li><a href="{{href}}">{{title}}</a></li>
					{{/breadCrumbs}}
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Draft Blend</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Refresh</a></li>
                            <li><a href="#">Clear</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row ibox-row">
                        <div class="col-xs-4">
                            <h3>Draft Blend Properties</h3>
                            <canvas id="radarChart"></canvas>
                        </div>
                        <div class="col-xs-4">
                            <h3>Bottom Line Specs</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>spec</th>
                                    <th>D</th>
                                    <th>M</th>
                                    <th>I</th>
                                    <th>N</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>high</th>
                                    <td>0.7</td>
                                    <td>0.7</td>
                                    <td>0.7</td>
                                    <td>0.7</td>
                                </tr>
                                <tr>
                                    <th>actual</th>
                                    <td>0.35</td>
                                    <td>0.35</td>
                                    <td>0.35</td>
                                    <td>0.35</td>
                                </tr>
                                <tr>
                                    <th>low</th>
                                    <td>0.1</td>
                                    <td>0.1</td>
                                    <td>0.1</td>
                                    <td>0.1</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="5">total 40,000 lbs</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-xs-4">
                            <h3>&nbsp;</h3>
                            <form id="excludedLotsForm">
                                <div class="form-group">
                                    <label class="control-label" for="modificationReasons">Modification Reason</label>
                                    <div class="input-group">
                                        <select id="modificationReasons" name="modificationReasons" class="form-control">
											{{#modificationReasons}}
                                                <option value="{{reason}}">{{reason}}</option>
											{{/modificationReasons}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="other" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button id="recalculateBlend" type="button" class="btn btn-primary btn-outline">Re-blend</button>
                                        <button id="finalizeBlend" type="button" class="btn btn-primary">Finalize Blend</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox border-bottom">
                <div class="ibox-title">
                    <h5>Material Types</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Refresh</a></li>
                            <li><a href="#">Clear</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <div class="row ibox-row slider-row">
                        <div class="col-xs-2">
                            <span class="badge badge-primary">V</span>
                            <span class="material-type">Virgin</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="slider-container">
                                <div id="virgin_bucket_slider" class="slider_virgin"></div>
                                <span class="slider-value-lower" id="virgin_slider-snap-value-lower">30</span>
                                <span class="slider-value-upper" id="virgin_slider-snap-value-upper">70</span>
                                <span class="slider-value-actual" id="virgin_slider-snap-value-actual">50</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="btn-group">
                                <button id="recalculateBlend" type="button" class="btn btn-primary btn-outline">Re-blend</button>
                            </div>
                        </div>
                    </div>
                    <div class="row ibox-row slider-row">
                        <div class="col-xs-2">
                            <span class="badge badge-primary">P</span>
                            <span class="material-type">Repro</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="slider-container">
                                <div id="spec_bucket_slider" class="slider_spec"></div>
                                <span class="slider-value-lower" id="spec_slider-snap-value-lower">30</span>
                                <span class="slider-value-upper" id="spec_slider-snap-value-upper">70</span>
                                <span class="slider-value-actual" id="spec_slider-snap-value-actual">50</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="btn-group">
                                <button id="recalculateBlend" type="button" class="btn btn-primary btn-outline">Re-blend</button>
                            </div>
                        </div>
                    </div>
                    <div class="row ibox-row slider-row">
                        <div class="col-xs-2">
                            <span class="badge badge-primary">R</span>
                            <span class="material-type">Regrind</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="slider-container">
                                <div id="regrind_bucket_slider" class="slider_regrind"></div>
                                <span class="slider-value-lower" id="regrind_slider-snap-value-lower">30</span>
                                <span class="slider-value-upper" id="regrind_slider-snap-value-upper">70</span>
                                <span class="slider-value-actual" id="regrind_slider-snap-value-actual">50</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="btn-group">
                                <button id="recalculateBlend" type="button" class="btn btn-primary btn-outline">Re-blend</button>
                            </div>
                        </div>
                    </div>
                    <div class="row ibox-row slider-row">
                        <div class="col-xs-2">
                            <span class="badge badge-primary">F</span>
                            <span class="material-type">Flake</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="slider-container">
                                <div id="flake_bucket_slider" class="slider_flake"></div>
                                <span class="slider-value-lower" id="flake_slider-snap-value-lower">30</span>
                                <span class="slider-value-upper" id="flake_slider-snap-value-upper">70</span>
                                <span class="slider-value-actual" id="flake_slider-snap-value-actual">50</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="btn-group">
                                <button id="recalculateBlend" type="button" class="btn btn-primary btn-outline">Re-blend</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lot Preferences</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Refresh</a></li>
                            <li><a href="#">Clear</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row ibox-row">
                        <div class="col-xs-8">
                            <h3>Included Lots</h3>
                            <p class="small"><i class="fa fa-hand-grab-o"></i> Drag lots between list</p>
                            <ul id="includedLots" class="list-group">
                                <li class="list-group-item">
                                    <div class="row row-lot-included">
                                        <div class="col-xs-2">
                                            <div class="lot-badge">
                                                <span class="badge badge-primary">V</span>
                                                <span class="material-type">Virgin</span>
                                            </div>
                                            <div class="lot-details">
                                                <span class="lot-sku">9999SL</span>
                                                <span class="lot-number"><strong>SL296748</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="slider-container">
                                                <div id="lot_1_slider" class="slider_lot"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="lot-range">
                                                <span><strong>Low</strong>: <span class="slider-value-lower" id="lot_1_slider-snap-value-lower">30</span></span>
                                                <span><strong>High</strong>: <span class="slider-value-upper" id="lot_1_slider-snap-value-upper">70</span></span>
                                            </div>
                                            <div class="lot-usage">
                                                <span class="lot-usage-percentage"><strong>Actual</strong>: 30%</span>
                                                <span class="lot-usage-pounds"><strong>Weight</strong>: 10,000 lbs</span>
                                            </div>
                                            <div class="lot-specs">
                                                <span class="lot-density"><strong>D</strong>: 0.9531</span>
                                                <span class="lot-melt"><strong>M</strong>: 0.71</span>
                                                <span class="lot-izod"><strong>I</strong>: 6.9</span>
                                                <span class="lot-ncls"><strong>N</strong>: 1.9</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            drag new lot here to replace
                                        </div>
                                    </div>
                                    <div class="row row-lot-included">
                                        <div class="col-xs-2">
                                            <div class="lot-badge">
                                                <span class="badge badge-primary">P</span>
                                                <span class="material-type">Repro</span>
                                            </div>
                                            <div class="lot-details">
                                                <span class="lot-sku">9999SL</span>
                                                <span class="lot-number"><strong>SL296748</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="slider-container">
                                                <div id="lot_2_slider" class="slider_lot"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="lot-range">
                                                <span><strong>Low</strong>: <span class="slider-value-lower" id="lot_2_slider-snap-value-lower">30</span></span>
                                                <span><strong>High</strong>: <span class="slider-value-upper" id="lot_2_slider-snap-value-upper">70</span></span>
                                            </div>
                                            <div class="lot-usage">
                                                <span class="lot-usage-percentage"><strong>Actual</strong>: 30%</span>
                                                <span class="lot-usage-pounds"><strong>Weight</strong>: 10,000 lbs</span>
                                            </div>
                                            <div class="lot-specs">
                                                <span class="lot-density"><strong>D</strong>: 0.9531</span>
                                                <span class="lot-melt"><strong>M</strong>: 0.71</span>
                                                <span class="lot-izod"><strong>I</strong>: 6.9</span>
                                                <span class="lot-ncls"><strong>N</strong>: 1.9</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            drag new lot here to replace
                                        </div>
                                    </div>
                                    <div class="row row-lot-included">
                                        <div class="col-xs-2">
                                            <div class="lot-badge">
                                                <span class="badge badge-primary">R</span>
                                                <span class="material-type">Regrind</span>
                                            </div>
                                            <div class="lot-details">
                                                <span class="lot-sku">9999SL</span>
                                                <span class="lot-number"><strong>SL296748</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="slider-container">
                                                <div id="lot_3_slider" class="slider_lot"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="lot-range">
                                                <span><strong>Low</strong>: <span class="slider-value-lower" id="lot_3_slider-snap-value-lower">30</span></span>
                                                <span><strong>High</strong>: <span class="slider-value-upper" id="lot_3_slider-snap-value-upper">70</span></span>
                                            </div>
                                            <div class="lot-usage">
                                                <span class="lot-usage-percentage"><strong>Actual</strong>: 30%</span>
                                                <span class="lot-usage-pounds"><strong>Weight</strong>: 10,000 lbs</span>
                                            </div>
                                            <div class="lot-specs">
                                                <span class="lot-density"><strong>D</strong>: 0.9531</span>
                                                <span class="lot-melt"><strong>M</strong>: 0.71</span>
                                                <span class="lot-izod"><strong>I</strong>: 6.9</span>
                                                <span class="lot-ncls"><strong>N</strong>: 1.9</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            drag new lot here to replace
                                        </div>
                                    </div>
                                    <div class="row row-lot-included">
                                        <div class="col-xs-2">
                                            <div class="lot-badge">
                                                <span class="badge badge-primary">F</span>
                                                <span class="material-type">Flake</span>
                                            </div>
                                            <div class="lot-details">
                                                <span class="lot-sku">9999SL</span>
                                                <span class="lot-number"><strong>SL296748</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="slider-container">
                                                <div id="lot_4_slider" class="slider_lot"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="lot-range">
                                                <span><strong>Low</strong>: <span class="slider-value-lower" id="lot_4_slider-snap-value-lower">30</span></span>
                                                <span><strong>High</strong>: <span class="slider-value-upper" id="lot_4_slider-snap-value-upper">70</span></span>
                                            </div>
                                            <div class="lot-usage">
                                                <span class="lot-usage-percentage"><strong>Actual</strong>: 30%</span>
                                                <span class="lot-usage-pounds"><strong>Weight</strong>: 10,000 lbs</span>
                                            </div>
                                            <div class="lot-specs">
                                                <span class="lot-density"><strong>D</strong>: 0.9531</span>
                                                <span class="lot-melt"><strong>M</strong>: 0.71</span>
                                                <span class="lot-izod"><strong>I</strong>: 6.9</span>
                                                <span class="lot-ncls"><strong>N</strong>: 1.9</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            drag new lot here to replace
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <h3>Available Lots</h3>
                            <p class="small"><i class="fa fa-hand-grab-o"></i> Drag lots between list</p>
                            <ul id="availableLots" class="list-group">
                                <li class="list-group-item">
                                    <div class="lot-available">
                                        <div class="list-group-item-handle">
                                            <span class="my-handle">::</span>
                                        </div>
                                        <div class="lot-badge">
                                            <span class="badge badge-primary">V</span>
                                            <span class="material-type">Virgin</span>
                                        </div>
                                        <div class="lot-details">
                                            <span class="lot-sku">9999SL</span>
                                            <span class="lot-number"><strong>SL296748</strong></span>
                                        </div>
                                        <div class="lot-usage">
                                            <span class="lot-usage-pounds"><strong>Weight</strong>: 10,000 lbs</span>
                                        </div>
                                        <div class="lot-specs">
                                            <span class="lot-density"><strong>D</strong>: 0.9531</span>
                                            <span class="lot-melt"><strong>M</strong>: 0.71</span>
                                            <span class="lot-izod"><strong>I</strong>: 6.9</span>
                                            <span class="lot-ncls"><strong>N</strong>: 1.9</span>
                                        </div>
                                    </div>
                                    <div class="lot-available">
                                        <div class="list-group-item-handle">
                                            <span class="my-handle">::</span>
                                        </div>
                                        <div class="lot-badge">
                                            <span class="badge badge-primary">P</span>
                                            <span class="material-type">Spec</span>
                                        </div>
                                        <div class="lot-details">
                                            <span class="lot-sku">9999SL</span>
                                            <span class="lot-number"><strong>SL296748</strong></span>
                                        </div>
                                        <div class="lot-usage">
                                            <span class="lot-usage-pounds"><strong>Weight</strong>: 10,000 lbs</span>
                                        </div>
                                        <div class="lot-specs">
                                            <span class="lot-density"><strong>D</strong>: 0.9531</span>
                                            <span class="lot-melt"><strong>M</strong>: 0.71</span>
                                            <span class="lot-izod"><strong>I</strong>: 6.9</span>
                                            <span class="lot-ncls"><strong>N</strong>: 1.9</span>
                                        </div>
                                    </div>
                                    <div class="lot-available">
                                        <div class="list-group-item-handle">
                                            <span class="my-handle">::</span>
                                        </div>
                                        <div class="lot-badge">
                                            <span class="badge badge-primary">F</span>
                                            <span class="material-type">Flake</span>
                                        </div>
                                        <div class="lot-details">
                                            <span class="lot-sku">9999SL</span>
                                            <span class="lot-number"><strong>SL296748</strong></span>
                                        </div>
                                        <div class="lot-usage">
                                            <span class="lot-usage-pounds"><strong>Weight</strong>: 10,000 lbs</span>
                                        </div>
                                        <div class="lot-specs">
                                            <span class="lot-density"><strong>D</strong>: 0.9531</span>
                                            <span class="lot-melt"><strong>M</strong>: 0.71</span>
                                            <span class="lot-izod"><strong>I</strong>: 6.9</span>
                                            <span class="lot-ncls"><strong>N</strong>: 1.9</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
