<!--
[selectBlend.mustache.html]
-->
<script id="selectBlendTemplate" type="text/html">
	<div class="row">
		<div class="col-xs-12">
			<div class="border-bottom white-bg page-heading">
				<h2>{{title}}</h2>
				<ol class="breadcrumb">
					{{#breadCrumbs}}
					<li><a href="{{href}}">{{title}}</a></li>
					{{/breadCrumbs}}
				</ol>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Select A Product</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Refresh</a></li>
							<li><a href="#">Clear</a></li>
						</ul>
					</div>
				</div>
				<div class="ibox-content">
					<form id="selectProductForm" class="form-inline">
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-btn">
											<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
												<span id="firstIdLabel">choose</span>
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#">choose</a></li>
												<li><a href="#">DEPT</a></li>
												<li><a href="#">Blend Spec</a></li>
											</ul>
										</div>
										<input id="firstId" name="firstId" type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label for="secondId">Mix No</label>
									<div class="input-group">
										<input id="secondId" name="secondId" type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label for="thirdId">Blend Spec</label>
									<div class="input-group">
										<input id="thirdId" name="thirdId" type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Products</h5>
					<div class="ibox-tools">
						<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Refresh</a></li>
							<li><a href="#">Clear</a></li>
						</ul>
					</div>
				</div>
				<div class="ibox-content">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Description</th>
							<th>Product Number</th>
							<th>Type</th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						{{#products}}
						<tr>
							<td>
								{{{description}}}
							</td>
							<td>
								{{{productNumber}}}
							</td>
							<td>
								{{{type}}}
							</td>
							<td class="text-right">
								<div class="btn-group">
									<button type="button" class="btn btn-primary">Blend</button>
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Blend Prefs</a></li>
										<li><a href="#">Lot Selection</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{{/products}}
						</tbody>
						<tfoot>
						<tr>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</script>
